main{
    display: flex;
    justify-content: center;
}
#div1{
    border: 5px solid rgba(134, 6, 245, 0.735);
    border-radius: 70px;
    padding: 0px 40px 40px 40px ;
    width: 50%;
    }
    .larguraDoInput{
        width: 100%
    }
    button{
        background-color: rgb(255, 0, 247)
    }
    .corDaFonte{color: aliceblue;}