<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gvrer</title>
    <link rel="stylesheet" href="static/css/areadedesenvolvimentodesoftware.css">

</head>

<body>
    <header>
        <nav>
            <a href="principal.html" title="Principal">Principal</a>
            <a href="ola.html">Ola</a>
            <a href="login.html">Entrar</a>
            <a href="index.html">Home</a>
        </nav>
    </header>
    <main>
        <div>
            TELA Home
            <h1>Desenvolvimento de Software</h1>
            <p>
            <h2><b>Áreas</b></h2>
            Desktop | Web | Mobile | IoT | IA
            </p>
            <h3>Web</h3>
            <ol>
                <li>Front-end
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </li>
                <li>Back-end
                    <ul>
                        <li>*Java</li>
                        <li>Python</li>
                        <li>PHP</li>
                        <li>C#</li>
                    </ul>
                </li>
                <li>Database
                    <ul>
                        <li>Oracle</li>
                        <li>*MySQL</li>
                        <li>SQLServer</li>
                        <li>PostgreSQL</li>
                    </ul>
                </li>
            </ol>
        </div>

        <div>
            <h1>Frameworks Java</h1>
            <table class="table1">

                <caption>Tabel 1. Frameworks Java.</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Thymeleaf</td>
                        <td>Java XML/XHTML/HTML5 mecanismo de modelo que pode funcionar tanto
                            em
                            ambientes web (baseados em Servlet) e não-web </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Spring Boot</td>
                        <td>Spring Boot (Spring Boot) é uma ferramenta que facilita e agiliza
                            o
                            desenvolvimento de aplicativos da web.</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Apache Tomcat</td>
                        <td>O Tomcat é um servidor web Java, mais especificamente, um
                            container
                            de servlets.</td>
                    </tr>
                </tbody>
                <footer>
                    <tr class="trBG">
                        <td></td>
                        <td>golbery</td>
                        <td></td>
                    </tr>
                </footer>
            </table>

            <br>
            <br>
            <h3>Java</h3>
            <p>
                Java é uma linguagem de programação e plataforma de computação liberada pela primeira vez pela Sun
                Microsystems em 1995. De um início humilde, ela evoluiu para uma grande participação no mundo digital
                dos
                dias atuais, oferecendo a plataforma confiável na qual muitos serviços e aplicativos são desenvolvidos.
                Produtos e serviços novos e inovadores projetados para o futuro continuam a confiar no Java também.
            </p>
            <p>
                Embora a maioria dos aplicativos Java modernos combine o runtime e o aplicativo Java, ainda há muitos
                aplicativos e até mesmo alguns sites que só funcionarão se você tiver um Java instalado no desktop. O
                java.com, este site, foi projetado para consumidores que ainda precisam do Java em seus aplicativos de
                desktop – especificamente aplicativos com foco no Java 8. Em vez desse site, os desenvolvedores e também
                os
                usuários que desejarem saber mais sobre programação Java devem visitar o site dev.java, enquanto os
                usuários
                de negócios devem visitar o site oracle.com/java para obter mais informações.
            </p>
        </div>
    </main>
    <footer>
        <p>Desenvolvido por Golbery</p>
    </footer>
    <script></script>
</body>

</html>