<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">

</head>

<body>
    <header>
        <nav>
            <a href="index.html">Home</a>
        </nav>
    </header>
    <main>
        <div>
            <form action="">
                <h1>login</h1><br>
                <img src="static/img/logo.png" alt="Imagem logo" width="20%"><br>

                <label for="user">Usuário (E-mail ou CPF):</label><br>
                <input type="text" name="user" id="user"><br>

                <label for="senha">Senha:</label><br>
                <input type="password" name="senha" id="senha"><br>
                <button class="buttonEntrar" type="button" onclick="validar()">Entrar</button><br>
                <a href="#">Cadastre-se</a>
                <p>Você também pode entrar com:</p>
                <button type="button">Google</button><br>
                <button type="button">Facebook</button><br>
            </form>
        </div>
    </main>
    <footer>
        <p class="pRodape">Desenvolvido por Mércia</p>
    </footer>
    <script src="static/js/login.js"></script>
</body>

</html>