<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Início</title>
  <link rel="stylesheet" href="css/chat.css">
</head>
<body>
  <div class="screen" id="screen1">
    <a href="screen2.html" class="chat-icon" aria-label="Abrir chat">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 4.906 14.32L16 16l-1.68-3.094A8 8 0 0 0 8 0zM3 7.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </a>
  </div>
</body>
</html>
