<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Chat Público</title>
  <link rel="stylesheet" href="css/chat.css">
</head>
<body>
  <div class="screen" id="screen4">
    <div class="chat-header">CHAT PÚBLICO</div>
    <div class="chat-box">
      <div class="message received">Olá!</div>
      <div class="message sent">Oi, tudo bem?</div>
      <div class="message received">Sim! E você?</div>
      <div class="message sent">Tudo ótimo!</div>
    </div>
  </div>
</body>
</html>
