<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AudioSlaves. Golbery 2024.2.223</title>
    <link rel="stylesheet" href="static/css/style1.css">
</head>

<body>
    <!-- conteúod para o usuário -->
    <header>
        <nav class="nav-alinhamento fonte-letra">
            <div class="padding-15px link-cor-branca logo">Golbery</div>
            <div class="menu">

                <a href="Golbery.html" class="padding-15px link-cor-branca">
                    HTML CSS |
                </a>
                <a href="https://www.w3schools.com/" class="padding-15px link-cor-branca">
                    W3Schools |
                </a>
                <a href="laves.html" class="padding-15px link-cor-branca">
                    Adioslaves
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="posicao">
            <article class="largura-60 margem-article ">
                <img src="static/img/likeastonebanner2.jpg" alt="" class="img-banner">
                <h1 class="font-size-h1">Música</h1>
                <h2 class="font-size-h2">Like Stone</h2>
                <span class="fonte-letra">
                    <h3 class="font-size-h3">Letra</h3>
                    <p>On a cobweb afternoon
                        In a room full of emptiness
                        By a freeway I confess
                        I was lost in the pages
                        Of a book full of death
                        Reading how we'll die alone
                        And if we're good, we'll lay to rest
                        Anywhere we want to go
                    </p>
                    <p>
                        In your house, I long to be
                        Room by room, patiently
                        I'll wait for you there
                        Like a stone
                        I'll wait for you there
                        Alone</p>
                </span>
            </article>
            <aside class="largura-40 margem-aside">
                <div class="bloco1 padding-20px tamanho-fonte-bloco efeito-borda">
                    <p>E eu continuei lendo
                        Até o dia acabar
                        E eu sentei em arrependimento
                        De todas as coisas que fiz
                        Por tudo que abençoei
                        E tudo que fiz de errado
                        Em sonhos até minha morte
                        Eu vagarei</p>
                    <p>
                        Na sua casa, eu anseio estar
                        Quarto por quarto, pacientemente
                        Eu esperarei por você lá
                        Como uma pedra
                        Eu esperarei por você lá
                        Sozinho
                        Sozinho
                    </p>

                </div>
                <div class="bloco2 padding-20px tamanho-fonte-bloco efeito-borda">
                    <p>Na sua casa, eu anseio estar
                        Quarto por quarto, pacientemente
                        Eu esperarei por você lá
                        Como uma pedra
                        Eu esperarei por você lá
                        Sozinho
                        Sozinho</p>
                    <p>Na sua casa, eu anseio estar
                        Quarto por quarto, pacientemente
                        Eu esperarei por você lá
                        Como uma pedra
                        Eu esperarei por você lá
                        Sozinho</p>
                </div>
            </aside>
        </div>
    </main>

    <footer class="desenvolvidopor">
        <p>Desenvolvido por Golbery</p>
    </footer>

</body>

</html>