

main{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}   
#div1{                        
    border: 5px solid rgb(3, 2, 2);
    border-radius: 15px;
    padding: 0px 40px 40px 40px ;
    width: 45%;               
}
.larguraDoInput{
    width: 100%;            
}
button{
    background-color: rgb(0, 136, 255); 
}
.corDaFonte{
    color: aliceblue;
}


