<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap5.3.3.min.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/cadastrarGrupo.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Itinerary List</title>
</head>
<body>
    <!--Header Begin-->
    <header>
        <nav class="navbar navbar-expand-lg bgColor">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Gvrer</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    <!--Haeder End-->
    <!--Main Begin-->
    <main>
        <div class="logo">
          <img src="../static/img/image.png" alt="Logo">
        </div>
        <h1 class="container">Cadastro de Grupo</h1>
        <div class="container">
            <!--Form Begin-->
            <form>
                <!--Group name Begin-->
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nome do grupo:</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <!--Group name End-->
                <!--Travel Date Begin-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Data estimada para a viagem:</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <!--Travel Date End-->
                <!--Travel Costs by participant Begin-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Custo da viagem por participante:</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <!--Travel Costs by participant Begin-->
                <!--Add participant Begin-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Adicionar participante:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                      </div>
                </div>
                <!--Add participant End-->
                <!--City/State Begin-->
                <div class="mb-3 cidadeEstado">
                    <div class="cidade">
                        <label for="exampleInputEmail1" class="form-label">Cidade:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="cidade">
                        <label for="exampleInputEmail1" class="form-label">Estado:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <!--City/State End-->
                <!--Travel Reason Begin-->
                <label for="exampleInputEmail1" class="form-label">Motivo da viagem:</label>
                <div class="mb-3 checkbox-groups">
                    <div class="checkbox-group1">        
                      <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Férias</label>
                      </div>
                      <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Trabalho</label>
                      </div>
                    </div>
                    <div class="checkbox-group2">
                      <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Evento</label>
                      </div>
                      <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Congresso</label>
                      </div>
                    </div>
                    <div class="checkbox-group3">
                      <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Conferência</label>
                      </div>
                      <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Outro</label>
                      </div>
                    </div>
                </div>
                <!--Travel Reason End-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Crie um código para os participantes acessarem o  grupo:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Li e concordo com os <a href="#" class="termosUso"><b>Termos de Uso</b></a></label>
                </div>
                <div class="botao-criar">
                  <button type="submit" class="btn btn-outline-dark mb-3">Criar grupo
                  </button>
                </div>
            </form>
            <!--Form End-->
        </div>
    </main>
    <!--Main End-->
    <!--Footer Begin-->
    <footer>
        <div class="text-center footerbgColor p-3">
            <p>&copy;By Vini</p>
        </div>
    </footer>
    <!--Footer End-->
    <script src="../static/js/bootstrap/bootstrap5.3.3.bundle.min.js">

    </script>
</body>
</html>