<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo de Viagem</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap5.3.3.min.css">
    <link rel="stylesheet" href="../static/css/grupodeviagem.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg headerBgColor">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gvrer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">  <div class="row justify-content-center">  <div class="col-md-8 col-lg-6">  <h1 class="text-center">GRUPO DE VIAGEM</h1>

                <div class="d-grid gap-3">  <button class="btn btn-primary" type="button">Progresso de Viagem</button>
                    <button class="btn btn-primary" type="button">Lista de Usuários</button>
                    <button class="btn btn-primary" type="button">Cota do Grupo</button>
                    <button class="btn btn-primary" type="button">Configuração</button>
                </div>

                <div class="mt-4 text-center">  <p>Todos os seus progressos estão aqui!</p>
                    <div class="d-flex justify-content-around mt-3">  <img src="../static/img/Sem_titulo.webp" alt="Progresso" class="img-fluid" width="50">
                        <img src="../static/img/LISTA_DE_USUARIOS.webp" alt="Usuários" class="img-fluid" width="50">
                        <img src="../static/img/DINHEIRO.webp" alt="Cota" class="img-fluid" width="50">
                        <img src="../static/img/CONFIG.webp" alt="Config" class="img-fluid" width="50">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer mt-5">  <p class="text-center"> &copy; Gvrer | By Marlison</p>
        </div>
    </footer>

    <script src="../static/js/bootstrap/bootstrap5.3.3.bundle.min.js"></script>
</body>

</html>