<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuário</title>
    <link rel="stylesheet" href="static/css/cadastrousuario.css">

</head>

<body>
    <header>
        <nav>
            <a href="principal.html">Principal | </a>
            <a href="ola.html">Ola | </a>
            <a href="login.html">Entrar | </a>
            <a href="index.html">Home</a>
        </nav>
    </header>
    <main>
        <h1>Cadastro Usuário</h1>
        <div>
            <input type="text" name="nomeusuario" id="nomeusuario" placeholder="Nome de Usuário">
        </div>
        <div>
            <input type="email" name="email" id="email" placeholder="E-mail">
        </div>
        <div>
            <input type="password" name="senha" id="senha" placeholder="Senha">
        </div>
        <div>
            <input type="checkbox" name="termodeuso" id="termodeuso"><small>Li e estou e estou de acordo com os <a
                    class="aCor" href="https://gerarmemes.s3.us-east-2.amazonaws.com/memes/7029574e.webp">Termos de
                    uso</a>.</small>
        </div>
        <div>
            <button type="button">Criar conta</button>
        </div>

    </main>
    <footer>
        <p>BY Golbery</p>
    </footer>
</body>

</html>