<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gvrer</title>
    <style>
        .tamanhoFonteMenu {
            font-size: 23pt;
        }

        .alinhamento1 {
            text-align: center;
        }

        .imagem {
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <header>
        <nav class=" tamanhoFonteMenu">
            <a href="principal.html">Principal | </a>
            <a href="ola.html">Ola | </a>
            <a href="login.html">Entrar | </a>
            <a href="index.html">Home </a>
        </nav>
    </header>
    <main>
        <div class="alinhamento1">
            <img src="static/img/igmBackGroud.png" alt="Imagem background.">
        </div>

    </main>
    <footer>
        <p>Desenvolvido por Golbery</p>
    </footer>
    <script></script>
</body>

</html>