<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gvrer</title>
</head>

<body>
    Olá mundo!!!
    <div>
        <h1>Desenvolvimento de Software</h1>
        <p>
        <h2><b>Áreas</b></h2>
        Desktop | Web | Mobile | IoT | IA
        </p>
        <h3>Web</h3>
        <ol>
            <li>Front-end
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </li>
            <li>Back-end
                <ul>
                    <li>*Java</li>
                    <li>Python</li>
                    <li>PHP</li>
                    <li>C#</li>
                </ul>
            </li>
            <li>Database
                <ul>
                    <li>Oracle</li>
                    <li>*MySQL</li>
                    <li>SQLServer</li>
                    <li>PostgreSQL</li>
                </ul>
            </li>
        </ol>
    </div>

    <div>
        <h1>Frameworks Java</h1>
        <table>
            <thead>
                <tr>
                    <th>col 1</th>
                    <th>col 2</th>
                    <th>col 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>111</td>
                    <td>222</td>
                    <td>333</td>
                </tr>
                <tr>
                    <td>4444</td>
                    <td>5555</td>
                    <td>6666</td>
                </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td></td>
                    <td>golbery</td>
                    <td></td>
                </tr>
            </tfooter>

        </table>
    </div>

</body>

</html>