<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisão 1</title>
    <link rel="stylesheet" href="static/css/revisao1.css">
</head>

<body>
    <header>
        <nav>
            Home | Entrar
        </nav>
    </header>

    <main>
        <article>
            <h1>Revision</h1>
            <ul>
                <li>font-size: 24pt;</li>
                <li>text-align: center;</li>
                <li>background-repeat: no-repeat;</li>
                <li>text-transform: uppercase;</li>
                <li>background-color: </li>
                <li>color: white;</li>
                <li>height: 50px;</li>
                <li>text-align: center;</li>
                <li> align-items: center;</li>
                <li>justify-content: center;</li>
                <li>display: flex;</li>
            </ul>
        </article>
        <section>
            <img src="static/img/css-html.png" alt="">
        </section>
        <aside></aside>
    </main>

    <footer>
        <p>&copy; By Golbery</p>
    </footer>

    <script></script>
</body>

</html>