<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Golbery</title>
    <link rel="stylesheet" href="login.css">
</head>


<body>
    <header>
        <nav></nav>
    </header>
    <main>

        <form action="" class="login">
            <h1>Login</h1>
            <div>
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" id="usuario">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
            </div>
            <div>
                <button type="submit">Entrar</button>
            </div>
            <p>
                Esqueceu a senha? <a href="#">Clique aqui.</a>
            </p>



        </form>


    </main>
    <footer>
        <p class="p">By Golbery</p>
    </footer>
    <script src="static/js/revisao3golbery.js"></script>
</body>


</html>