<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova senha</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="../static/css/bootstrap/bootstrap5.3.3.min.css"
    />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" href="../static/css/novaSenha.css" />
    <link
      rel="stylesheet"
      href="../static/css/sweetalert/sweetalert2.v11.16.0.min.css"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg headerBgColor">
        <div class="container-fluid">
          <a class="navbar-brand" href="../home/home.html">Gvrer</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="../usuario/usuario.html"
                  >Cadastre-se aqui</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container al">
        <form
          action=""
          class="mt-3 mb-3 col-md-6 login border border-4 rounded"
        >
          <div class="card p-3">
            <div>
              <h2 class="mt-2 mb-4">
                Atualizar senha, email ou número de telefone
              </h2>
            </div>
            <div class="mb-1">
              <label for="sexo" class="form-label"
                >Como você prefere redefinir sua senha?</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="emailRadio"
                name="redefinir"
                value="email"
              />
              <label class="form-check-label" for="emailRadio">Email</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="celularRadio"
                name="redefinir"
                value="celular"
              />
              <label class="form-check-label" for="celularRadio">Celular</label>
            </div>

            <div class="mb-3" id="inputEmail" style="display: none">
              <label for="email" class="form-label mt-3"
                >Digite seu e-mail</label
              >
              <input type="email" class="form-control" id="email" required />
            </div>
            <div class="mb-3" id="inputCelular" style="display: none">
              <label for="celular" class="form-label mt-3"
                >Digite seu número de celular</label
              >
              <input type="tel" class="form-control" id="celular" required />
            </div>

            <div class="mb-3 password-container">
              <div class="mb-3 mt-2">
                <button
                  onclick="enviar()"
                  type="button"
                  id="button"
                  class="btn btn-dark col-12"
                >
                  Enviar por E-mail
                </button>
              </div>
              <div class="d-flex">
                <div>
                  <a href="#" class="text-decoration-none">
                    Não me lembro do meu email ou senha.</a
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer class="text-center bgColor">
      <div class="text-center footerBgColor p-3">
        <p class="p">&copy; Gvrer | By Renan</p>
      </div>
    </footer>

    <script src="../static/js/bootstrap/bootstrap5.3.3.bundle.min.js"></script>
    <script src="../static/js/sweetalert/sweetalert2.all.v11.16.0.min.js"></script>
    <script src="../static/js/novaSenha.js"></script>
    <script src="../static/js/validarInput.js"></script>
    <script src="../static/js/redirecionarParaOutraPagina.js"></script>
  </body>
</html>
