<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpite Certo</title>
</head>
<body>
    <header>
        <nav>
            Home |
        </nav>
    </header>

    <main >
        <div>
            <h1 style="text-align: center;">Histórico de Bolões</h1>            
        </div>
        <div>
            <table style="
                border: 1px solid blue;
                border-collapse: collapse;
                width: 100%;
                ">
                <thead>
                    <tr style="background-color: bisque;">
                        <th style="border: 1px solid;">Bolão</th>
                        <th style="border: 1px solid;">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid; text-align: center;">786</td>
                        <td style="border: 1px solid; text-align: center;">25/02/2025</td>
                    </tr>  
                    <tr>
                        <td style="border: 1px solid; text-align: center; ">786</td>
                        <td style="border: 1px solid; text-align: center;">25/02/2025</td>
                    </tr>  
                    <tr>
                        <td style="border: 1px solid; text-align: center;">786</td>
                        <td style="border: 1px solid; text-align: center;">25/02/2025</td>
                    </tr>  
                    <tr>
                        <td style="border: 1px solid; text-align: center;">786</td>
                        <td style="border: 1px solid; text-align: center;">25/02/2025</td>
                    </tr>  
                    <tr>
                        <td style="border: 1px solid; text-align: center;">786</td>
                        <td style="border: 1px solid; text-align: center;">25/02/2025</td>
                    </tr>  
                                     
                </tbody>
                <tfoot>
                    <td style="border: 1px solid;"></td>
                    <td style="border: 1px solid;"></td>
                </tfoot>
            </table>
        </div>
    </main>

    <footer>
        &copy; By Golbery
    </footer>
</body>
</html>