<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/palpitecertoapp/css/bootstrap/bootstrap5.0.2.min.css">
    <link rel="stylesheet" href="../../../static/palpitecertoapp/css/principal.css">
    <title>Palpite Certo</title>
</head>

<body>
    <header></header>

    <main>

        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">

            <div class="dropdown col-md-6 mb-2">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    MEGASENA
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">PARTICIPAR</a></li>
                    <li><a class="dropdown-item" href="#">CRIAR</a></li>                    
                </ul>
            </div>

            <button type="button" class="btn btn-dark col-md-6 mb-2">VISUALIZAR RESULTADO MEGASENA</button>
            <button type="button" class="btn btn-dark col-md-6 mb-2">VISUALIZAR COMPROVANTE</button>
            <button type="button" class="btn btn-dark col-md-6 mb-2">HISTÓRICO DE BOLÕES</button>
            <button type="button" class="btn btn-dark col-md-6 mb-2">DADOS BANCÁRIOS</button>
            <button type="button" class="btn btn-dark col-md-6 mb-2">REALIZAR SORTEIO MEGASENA</button>
            <button type="button" class="btn btn-dark col-md-6 mb-2">NOTIFICAÇÕES</button>
        </div>
    </main>

    <footer></footer>
    <script src="../../../static/palpitecertoapp/js/bootstrap/poppercore2.9.2.min.js"></script>
    <script src="../../../static/palpitecertoapp/js/bootstrap/bootstrap5.0.2.min.js"></script>
</body>

</html>