        h1 {
            text-transform: uppercase;
            color: #414BB2;
            background-color: blueviolet;
        }

        div {
            text-align: center;
        }

        form {
            border: solid 3px;
            margin-left: 15%;
            margin-right: 15%;
            border-color: rgb(91, 91, 108);
            border-radius: 15px;
        }

        .buttonEntrar {
            background-color: #414BB2;
            color: white;
            border: solid 2px;
            border-color: black;
            border-radius: 15px;
            padding: 5px 45px 5px 45px;
            margin: 45px 0 45px 0;
        }

        header {
            padding: 25px;
            background-color: black;
            font-size: 20pt;
            text-align: end;
        }

        footer {
            padding: 5px;
            background-color: black;
            font-size: 20pt;
            text-align: center;
        }

        .pRodape {
            color: white;
        }