.navbar-brand {
    color: aliceblue !important;
}

.nav-link {
    color: aliceblue !important;

}

.al {
    display: flex;
    justify-content: center;
}

.bgColor {
    background-color: #FF4646;
}