<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap5.3.3.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <footer>
    <div class="text-center footerBgColor p-3">
        <p class="p"> &copy; Gvrer | By Golbery</p>
    </div>
</footer>
    <script src="../static/js/bootstrap/bootstrap5.3.3.bundle.min.js"></script>
</body>

</html>