<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .zzz {}

        #idMain {
            background-color: red;
        }
    </style>
    <script></script>
</head>

<body>
    <header></header>
    <nav></nav>
    <main id="idMain">
        <section class="zzz"> Caluladora

            <label for="">N1</label>
            <input type="number" name="" id="">
            <label for="">N2</label>
            <input type="number" name="" id="">
            <button onclick="soma()" type="button">OK</button>

            <label for="">RESULTADO</label>
            <input type="number" name="" id="">

        </section>
        <article></article>
        <aside></aside>
    </main>
    <footer></footer>
    <script>

        function soma() {
            alert("BOTÃO 'OK' FOI CLICADO");
        }
    </script>
</body>

</html>