<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        #idMain {
            background-color: red;
        }
    </style>
    <script></script>
</head>

<body>
    <header></header>
    <nav></nav>
    <main id="idMain">
        <section class="zzz"> Caluladora
            <label for="inputN1">N1</label>
            <input type="number" name="inputN1" id="inputN1">
            <label for="inputN2">N2</label>
            <input type="number" name="inputN2" id="inputN2">
            <button onclick="fSoma()" type="button">OK</button>
            <label for="resultado">RESULTADO</label>
            <input type="number" name="resultado" id="resultado">
        </section>
        <article></article>
        <aside></aside>
    </main>
    <footer></footer>
    <script src="static/js/soma.js"></script>

</body>

</html>