J<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap5.3.3.min.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/menu.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg headerBgColor">
            <div class="container-fluid">
                <a class="navbar-brand" href="../home/home.html">Gvrer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Sobre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../usuario/login.html">Entrar</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container al ">
            <h1>pratos menu </h1>
        
            <div class="d-flex justify-content-left row">


                <div class="card m-2 p-1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="../static/img/bifeComMolhoMadeira.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b> Filé ao molho madeira </b></h5>
                                <p class="card-text">
                                    <b> R$ 170,00 </b><br>
                                    Filé grelhado ao molho madeira com champion ,arroz branco, e puré
                                </p>
                                <p class="card-text"><small class="text-body-secondary"></small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card m-2 p-1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="../static/img/contraFileGrelhadoAceboladoComFritasParaUmaPessoa.jpg"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Filé com fritas </b></h5>
                                <p class="card-text">
                                    <b> R$ 90,00 </b><br>
                                    filé grelhado, fritas arroz branco vinagrete.

                                </p>
                                <p class="card-text"><small class="text-body-secondary"></small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card m-2 p-1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="../static/img/pirarucuAoMolhoDeCamarao.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>pirarucu ao molho de camarão </b></h5>
                                <p class="card-text">
                                    <b> R$ 120,00 </b><br>
                                    peixe grelhado com molho camarão fritos no azeite ,
                                    arroz branco e pirão.

                                </p>
                                <p class="card-text"><small class="text-body-secondary"></small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card m-2 p-1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="../static/img/BacalhaoAPortuguesa.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Bacalhao a portuquesa </b></h5>
                                <p class="card-text">
                                    <b> R$ 190,00 </b><br>
                                    Bacalhaõ grelhado no azeite com legumes e evas.

                                </p>
                                <p class="card-text"><small class="text-body-secondary"></small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <footer>
        <div class="text-center footerBgColor p-3">
            <p class="p"> &copy; Gvrer | By Mércia </p>
        </div>
    </footer>

    <script src="../static/js/bootstrap/bootstrap5.3.3.bundle.min.js"></script>
</body>

</html>