<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="iconmiro.png" sizes="192x192">
    <title>Palpite Certo</title>
    <link rel="stylesheet" href="loginlucas.css">


</head>

<body>
    <header>
        <nav>
            Home |
            <a href="historicodeboloes.html">
                Hist. Bolões
            </a>
        </nav>
    </header>
    <br>

    <main>


        <!--
        <video class="video-background" autoplay muted loop>
            <source src="fundo-video.mp4" type="video/mp4">
          </video>
        -->
        <div>
            <h1 id="demo"></h1>
            <span id="eu"></span>
            <span id="es"></span>
            <div>
                <button onclick="exibirNome()" type="button">
                    Exibir nome
                </button>
                <button onclick="limparNome()" type="button">
                    Limpar
                </button>
            </div>
        </div>
        <div id="div1">
            <div>
                <h1>Login</h1>
            </div>
            <hr>

            <!-- Inpute de Usuário -->
            <div>
                <label for="usuario">
                    Nome de Usuário
                </label>
                <br>
                <input type="text" name="usuario" id="usuario" class="larguraDoInput">
            </div>

            <!-- Inpute de Senha-->
            <div>
                <label for="senha">
                    Senha
                </label>
                <br>
                <input placeholder="Informe a senha..." type="password" name="senha" id="senha" class="larguraDoInput">
            </div>

            <div>
                <span>
                    Recuperar senha
                </span>
            </div>

            <div>
                <button onclick="validar()" type="button">
                    <b class="corDaFonte">
                        Entrar
                    </b>
                </button>
            </div>
        </div>
    </main>

    <footer>
        &copy; By Wesley
    </footer>

    <script>
        function exibirNome() {
            document.getElementById("demo").innerHTML = "Hello Golbery"
        }
        function limparNome() {
            document.getElementById("demo").innerHTML = ""
        }

        function pegarNomeDoUsuario() {
            var usuario;
            usuario = document.getElementById("usuario").value;
            document.getElementById("eu").innerHTML = usuario;
        }

        function pegarSenhaDoUsuario() {
            var senha;
            senha = document.getElementById("senha").value;
            document.getElementById("es").innerHTML = senha;
        }

        function validar() {
            pegarNomeDoUsuario();
            pegarSenhaDoUsuario();
        }


    </script>
</body>

</html>