<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="iconmiro.png" sizes="192x192">
    <title>Palpite Certo</title>
    <link rel="stylesheet" href="loginlucas.css">
    

</head>

<body>
    <header>
        <nav>
            Home |
            <a href="historicodeboloes.html">
                Hist. Bolões
            </a>
        </nav>
    </header>
    <main>
<!--
        <video class="video-background" autoplay muted loop>
            <source src="fundo-video.mp4" type="video/mp4">
          </video>
        -->
        <div id="div1" >
            <div>
                <h1>Login</h1>
            </div>
            <hr>

            <!-- Inpute de Usuário -->
            <div>
                <label for="usuario">
                    Nome de Usuário
                </label>
                <br>
                <input 
                    type="text" 
                    name="usuario" 
                    id="usuario"
                    class="larguraDoInput"
                >
            </div>

            <!-- Inpute de Senha-->
            <div>
                <label for="senha">
                    Senha
                </label>
                <br>
                <input 
                    type="password" name="senha" id="senha"
                    class="larguraDoInput"
                    >
            </div>

            <div>
                <span>
                    Recuperar senha
                </span>
            </div>

            <div>
                <button type="button">
                    <b class="corDaFonte">
                        Login
                    </b>
                </button>
            </div>

        </div>

    </main>
    <footer>
        &copy; By Wesley
    </footer>

</body>

</html>