<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="font-size: 24pt;">
        Premium e Sofisticado (Para um Bolão Mais Exclusivo)
        <br>
        <span style="background-color: #000000;">
            Preto (#000000) – Elegância e mistério.
        </span>
        <br>
        <span style="background-color: #CFAE6D;">
            Dourado (#CFAE6D) – Luxo e exclusividade.
        </span>
        <br>
        <span style="background-color: #1C1C1C;">
            Cinza Escuro (#1C1C1C) – Para interfaces refinadas.
        </span>
        <br>
        <span style="background-color: #F5F5F5;">
            Branco Quebrado (#F5F5F5) – Para suavizar e equilibrar.
        </span>

        <br>
        Premium e Sofisticado (Para um Bolão Mais Exclusivo)
        <br>
        <span style="background-color: #007BFF;">
            Preto (#007BFF) – Elegância e mistério.
        </span>
        <br>
        <span style="background-color: #CFAE6D;">
            Dourado (#CFAE6D) – Luxo e exclusividade.
        </span>
        <br>
        <span style="background-color: #1C1C1C;">
            Cinza Escuro (#1C1C1C) – Para interfaces refinadas.
        </span>
        <br>
        <span style="background-color: #F5F5F5;">
            Branco Quebrado (#F5F5F5) – Para suavizar e equilibrar.
        </span>


    </div>

</body>

</html>