<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golbery</title>
</head>
<body>
    <h1 id="demo" ></h1>
    <div>
        <button     onclick="exibirNome()"      type="button">
            Exibir nome
        </button>
    </div>
    <script>
        function exibirNome() {
            document.getElementById("demo").innerHTML = "Hello Golbery"            
        }
    </script>
</body>
</html>