<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golbery</title>
</head>
<body>
    <h1>
        Tela2 | 
        home | 
        Jogar | 
        <a href="tela1.html">Retornar à Tela 1</a>
    </h1>
    <h2>Faça seu jogo</h2>
    <p>Escolha uma das opções:</p>
    <ul>
        <li>
            <button type="button">
                <a href="bolaofamilia.html">
                    Bolão família
                </a>                
            </button>
        </li>
        <li>
            <button type="button">
                <a href="bolaocorporativo.html">
                    Bolão Corporativo
                </a>
                    
              
            </button>
        </li>
        <li>
            <button type="button">
                <a href="bolaomegasena.html">
                    Bolão Mega Sena
                </a>
            </button>
        </li>
    </ul>
</body>
</html>