<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <link rel="stylesheet" href="../notificacoes/notificacoes.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="notif_box">
                <h2 class="title">Notificações</h2>
                <span id="notificacoes"></span>
            </div>
            <p id="mark_all">Marcar todas como lidas</p>
        </header>
        <main>
            <div class="notif_card_unread">
                <img src="../static/img/rjicon.png" alt="avatar">
                <div class="description">
                    <p class="user_activity">
                        <strong>Reserva solicitada</strong>
                    </p>
                    <p class="tempo">1 min atrás</p>
                </div>
            </div>
        </main>
    </div>
    
</body>
</html>